/* RESET*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}


/* Navigation Bar  */

.navbar img{
    height: 45px;
    width: 45px;
    border-radius: 45px;           /*This is to make the square logo in circle shape*/
    margin: 0px 0px;
   
}
.navbar{
    display: flex;
    height: 60px;
    align-items: center;           /*This is to make the text "InstantMeal" in centre vertically as the logo name*/
    background-color:rgb(245, 165, 139);
    position:sticky;
    top: 0px;
    z-index: 1;
    opacity: 0.8;
    
}

.navsections{
    display: flex;             /*For making the navigation sections in horizontal*/
    
}

.navsections li{
    list-style-type: none;
}

.navsections li a{
    text-decoration: none;
    padding: 5px 32px;
    color: black;
   
}
.navsections li a:hover{            /*ON HOVER*/
    color: black;
    background-color: rgb(248, 137, 100);
    border-radius: 20px;
   
}

/* Main Container */

.maincontent{
    display: flex;
    height: 510px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index:-2;
    opacity: 0.85;
    background-attachment: local;
}
.content{
    padding: 5px;
    margin: 8px;
    color: black;
    font-size: 30px;
    align-items: center;
    
}
#maincontent_p{
    text-align: center;
}

.ordernow a{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 12px;
    margin: 10px 20px;
    color: black;
    background-color: rgb(235, 117, 88);
    text-decoration: none;
}
.ordernow a:hover{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 17px;
    margin: 10px 20px;
    color: black;
    background-color: rgb(125, 211, 204);
    text-decoration: none;
    transition: 0.5s;
}

/*  Services Parts*/


.seperation{
    text-align: center;
    font-size: 30px;
    padding : 15px;
    margin: 0px;
    text-decoration: underline;
    background-color: rgb(253, 197, 148);
}

.mainsection{
    display: flex;
    background-color: rgb(255 208 192);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.mainsection .section{
    border: 3px solid red;
    border-radius: 15px;
    width: 370px;
    padding: 15px;
    margin:65px 42px;
    text-align: center;
    background-color: blanchedalmond;
    cursor: pointer;
}
.mainsection .section:hover {
    border: 3px solid red;
    border-radius: 15px;
    width: 375px;
    padding: 15px;
    margin:72px 50px;
    text-align: center;
    background-color: rgb(253, 212, 151);
    transition-duration: 0.5s;
}


.mainsection img{
    height: 188px;
    width: 251px;
}


/*Products Part*/

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}

.products::before{
    content: "";
    position: absolute;
    top: 1056px;
    left: 0px;
    background: url('./products_background.jpg') no-repeat center center/cover;
    height: 105rem;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.products_box{
    border: 4px solid brown;
    height: 320px;
    width: 320px;
    padding: 10px;
    margin: 97px 12px;
    border-radius: 20px;
    background-color: blanchedalmond;
   
}
.products_box img{
    height: 242px;
    width: 314px;
}

.products_box h3{
    text-align: center;
    font-size: 1.5em;
}

/*About Us*/

.aboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
   
    background-color: grey;
    height: 700px;
}
.aboutus_content{
    margin: 15px;
    text-align: center;
    font-size: 2rem;
}

.payment{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
}
.payment_name{
    border-radius: 25px;

    height: 150px;
    width: 150px;
    margin: 25px;
    padding: 15px;
}

#payment_h3{
    text-align: center;
    font-size: 2rem;
    margin: 15px;
}

.payment_name img{
    height: 125px;
    width: 150px;
    border-radius: 25px;
}

/* contact us  */
.ContactUs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    align-items:flex-start;
    background: url('../products_background.jpg') no-repeat center center/cover;
}

.contactus_in{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 25px;
    height: 400px;
    width: 450px;
    justify-content: center;
    margin: 25px;
    background-color: blanchedalmond;
    
    
}
.input_forms{
    margin: 25px;
    padding: 5px;
    
}

.form_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    text-align: center;
    padding: 2px 10px ;
    margin: 7px 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(255, 221, 170);
    cursor: pointer;
}

.button:hover{
    text-align: center;
    padding: 6px 15px ;
    margin: 7px 5px;
    border-radius: 13px;
    font-weight: bold;
    background-color: rgb(250, 199, 121);
    cursor: pointer;
}

.input_forms textarea,input{
    border-radius: 6px;
    border: 2px solid blue;
}

