/*Navigation Bar*/
.navbar{
    flex-direction: column;
    height: 8rem;
    font-size: 16px;
}
.navsections{
    margin-top: 10px;
}
    
.navbar li a{
   margin-left: 3px;
   padding: 0px 10px;
}
    
/*Home*/
.content{
    font-size: 23px;
}
.maincontent{
    height: 796px;
}
/*Services*/
/*Products*/
.products::before{
    content: "";
    position: absolute;
    top: 2150px;
    left: 0px;
    background: url('../products_background.jpg') no-repeat center center/cover;
    height: 105rem;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
.products_box {
    
    margin: 34px 12px;
    padding: 12px 0px;
    height: 288px;
    width: 280px;
   
}
.products_box img {
    height: 226px;
    width: 280px;
}
/*About us*/

.aboutus {
    
   
    height: 1800px;
}
.payment_name img {
    height: 105px;
    width: 121px;
    border-radius: 25px;
}
.payment{
    overflow: hidden;
}
/*contact us*/
.contactus_in{
    
    height: 493px;
   
    
    
}